.services{
    display: flex;
    // flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    .service{
        padding-top: 10px;
        box-shadow: 0px 0px 29px rgba(73, 73, 92, 0.596);
        width: 30vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        // padding: 0px;
        // background-color: red;
        padding: 50px;
        margin: 20px;
        
        &:hover{
            scale: 1.01;
        }
    }
    .icon{
        display: flex;
        background-color: rgb(155, 173, 173);
        width: 100px;
        height: 100px;
        text-align: center;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        &:hover{
            background-color: rgb(79, 153, 153);
            cursor: pointer;
        }
    }

}
#service-name{
    text-align: center;
    font-size: 2rem ;
}